#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}
body{
  background-image: linear-gradient(90deg, rgb(51, 93, 141), rgb(200, 114, 33));
  text-align: center;
}


form{
  background-color:rgba(133, 133, 133, 0.432);
  width:30rem;
  padding:20px;
  margin:0 auto;
  margin-top:5rem;
}
.text-button{
height:6rem;
width:14.5rem;
border: 2px solid;
font-size:2rem;
text-align: center;
font-weight:bold;
}

.text-button:hover{
  background-image: linear-gradient(180deg, rgb(139, 177, 228),rgb(51, 93, 141));

}
#calc-input{
  width: 29.5rem;
  height:8rem;
  font-size: 3rem;
  text-align: right;
  background-color:rgb(51, 93, 141);
  border: 2px solid;
}
.calc-button{
  height:9rem;
  width: 7.5rem;
  font-size:2rem;
  font-weight: bold;
  background-color:white;
  border: 2px solid;
}
.calc-button:hover{
  background-image: linear-gradient(180deg, rgb(139, 177, 228),rgb(51, 93, 141));
}
.special-calc-button{
  height:9rem;
  width: 7.5rem;
  font-size:2rem;
  font-weight: bold;
  background-image: linear-gradient(180deg, rgb(51, 93, 141), rgb(139, 177, 228));
  border: 2px solid;
}
.special-calc-button:hover{
  background-image: linear-gradient(180deg, rgb(139, 177, 228),rgb(51, 93, 141));

}